<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ArihantPlus.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E0951D9E8BA20156438A6539E3D442F9B23B176C</string>
				<key>dateExpires</key>
				<string>17/12/25</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E0951D9E8BA20156438A6539E3D442F9B23B176C</string>
						<key>dateExpires</key>
						<string>17/12/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HBR5JXJGF7</string>
						<key>name</key>
						<string>IMG GLOBAL INFOTECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>HBR5JXJGF7.com.Arihant.test</string>
				<key>com.apple.developer.team-identifier</key>
				<string>HBR5JXJGF7</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>ArihantPlus.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e853796a-95c1-468f-b729-09874e8e74aa</string>
				<key>dateExpires</key>
				<string>17/12/25</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.Arihant.test</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>HBR5JXJGF7</string>
				<key>name</key>
				<string>IMG GLOBAL INFOTECH PRIVATE LIMITED</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
